.pin-input-group {
    display: flex;
    gap: 15px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pin-box {
    width: 45px;
    height: 55px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    background: transparent;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-dark);
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
        border-bottom: 2px solid var(--primary-blue);
    }

    .active-pin {
        border-bottom: 2px solid var(--primary-blue);
    }
}


.image-panel {
    align-items: end;

    img {
        margin-bottom: -32px;
    }
}

@media (max-width: 768px) {
    .pin-input-group {
        gap: 10px;
    }

    .pin-box {
        width: 40px;
        height: 48px;
        font-size: 1.5rem;
    }
}

@media (max-width: 640px) {
    .pin-input-group {
        gap: 8px;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .pin-box {
        width: 35px;
        height: 42px;
        font-size: 1.3rem;
    }
}