:root {
    --primary-blue: #2948FF;
    --primary-hover: #2148d4;
    --text-dark: #222222;
    --text-gray: #7a7a7a;
    --text-green: #00A700;
    --border-color: #e5e5e5;
    --bg-color: #fbfbfc;
    --bg-white: #ffffff;
    --bg-light: #E8E8E84D;
    --bg-outline-hover: rgba(0, 0, 0, 0.1);
    --bg-gray: #E8E8E84D;
    --linear-gradient-blue: linear-gradient(0deg, #2948FF 0%, #396AFC 100%);
    --success: #059669;
    --danger: #dc2626;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-blue);
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
}